



.parent{

    
}
.container{
    margin-top: 150px;
}
.progress {
    font-size: 16px!important;
    width: 601px!important;
    margin: 41px 5px!important;
}
span {
    margin-right: 30px;
}
#span3{
    margin-right: 40px;
}